src/dashboard/dist/*
src/dashboard/node_modules/*
src/api/node_modules/*
src/api/dist/*
src/dashboard-client/node_modules/*
src/dashboard-client/dist/*
.vscode/*
*.swp
*.pyc
.infrabox*
!.infrabox/inputs
src/job-controller/vendor
src/job-controller/job-controller
src/services/gke-cluster-controller/vendor
src/services/gke-cluster-controller/gke-cluster-controller
