node_modules/
public/components
deploy/infrabox/values_install.yaml
deploy/infrabox/values_minikube.yaml
deploy/infrabox-postgres/values_minikube.yaml
deploy/infrabox/config/docker/daemon.json
deploy/infrabox-postgres/values_install.yaml
src/dashboard/run_server.sh
src/api/run_server.sh
.sass-cache
dist/
typings/
xunit.xml
env.sh
results/
*.pyc
*.json_change
*.swp
.*.swp
src/infraboxcli/infraboxcli.egg-info/
.infrabox
*.yml.infrabox
*.yaml.infrabox
run_server.sh
certs/
deploy/infrabox-postgres/values_gke.yaml
deploy/infrabox/values_gke.yaml
