# FIXME: These dependencies are what originally specified in Dockerfile
# However, due to old pip's inconsistant behavior of dependency resolution
# install them directly will break some dependencies
azure-mgmt-resource==15.0.0
azure-storage==0.36.0
bcrypt==3.1.7
boto3==1.16.25
croniter==0.3.36
eventlet==0.29.1
Flask==1.1.4
flask-restx==0.2.0
Flask-SocketIO==4.3.1
google-cloud-storage==1.33.0
jsonschema==3.2.0
keystoneauth1==3.7.0
psycopg2-binary==2.8.6
PyJWT==2.6.0
python-cachetclient==0.2.5
python-engineio==3.13.2
python3-saml==1.15.0
python-swiftclient==3.13.1
requests==2.31.0
MarkupSafe==0.23 # jinja2 2.11.3 did not pin MarkupSafe versions, will bring breaking changes
