{{ if .Values.docker_registry.enabled }}
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
    name: infrabox-docker-registry
    namespace: infrabox-system
    labels:
        app: infrabox
        infrabox.net/component: docker-registry
spec:
    replicas: 1
    template:
        metadata:
            labels:
                app: infrabox
                infrabox.net/component: docker-registry
        spec:
            {{- if .Values.docker_registry.node_selector }}
            nodeSelector:
{{ toYaml .Values.docker_registry.node_selector | indent 16 }}
            {{- end }}
            containers:
            {{ include "containers_database" . | indent 12 }}
            -
                name: auth
                image: {{ .Values.general.docker_registry }}/{{ default "infrabox/docker-registry/auth" .Values.docker_registry.auth_image }}:{{ .Values.docker_registry.auth_tag }}
                imagePullPolicy: Always
                env:
                {{ include "env_database" . | indent 16 }}
                {{ include "env_docker_registry" . | indent 16 }}
                -
                    name: INFRABOX_SERVICE
                    value: {{ default "infrabox/docker-registry/auth" .Values.docker_registry.auth_image }}
                -
                    name: INFRABOX_VERSION
                    value: {{ .Values.docker_registry.auth_tag }}
                livenessProbe:
                    httpGet:
                        path: /ping
                        port: 8081
                    initialDelaySeconds: 5
                    periodSeconds: 30
                readinessProbe:
                    httpGet:
                        path: /ping
                        port: 8081
                    initialDelaySeconds: 3
                    periodSeconds: 3
            -
                name: nginx
                image: {{ .Values.general.docker_registry }}/{{ default "infrabox/docker-registry/nginx" .Values.docker_registry.nginx_image }}:{{ .Values.docker_registry.nginx_tag }}
                imagePullPolicy: Always
                env:
                -
                    name: INFRABOX_DOCKER_REGISTRY_ADMIN_PASSWORD
                    valueFrom:
                        secretKeyRef:
                            name: infrabox-docker-registry
                            key: password
                -
                    name: INFRABOX_DOCKER_REGISTRY_ADMIN_USERNAME
                    valueFrom:
                        secretKeyRef:
                            name: infrabox-docker-registry
                            key: username
                -
                    name: INFRABOX_DOCKER_REGISTRY_TLS_ENABLED
                    value: {{ default "false" .Values.docker_registry.tls.enabled | quote }}
                volumeMounts:
                {{ if .Values.docker_registry.tls.enabled }}
                -
                    name: registry-tls
                    mountPath: /var/run/infrabox
                    readOnly: true
                {{ end }}
            -
                name: registry
                image: registry:2.6
                imagePullPolicy: Always
                env:
                {{ if .Values.storage.s3.enabled }}
                -
                    name: REGISTRY_STORAGE
                    value: s3
                -
                    name: REGISTRY_STORAGE_S3_ENCRYPT
                    value: "false"
                -
                    name: REGISTRY_STORAGE_S3_ROOTDIRECTORY
                    value: "/"
                -
                    name: REGISTRY_STORAGE_S3_CHUNKSIZE
                    value: "5242880"
                -
                    name: REGISTRY_STORAGE_S3_BUCKET
                    value: {{ default "infrabox-docker-registry" .Values.storage.s3.docker_registry_bucket | quote }}
                -
                    name: REGISTRY_STORAGE_S3_REGION
                    value: {{ .Values.storage.s3.region }}
                -
                    name: REGISTRY_STORAGE_S3_REGIONENDPOINT
                    value: http://{{ .Values.storage.s3.endpoint }}:{{ .Values.storage.s3.port }}
                -
                    name: REGISTRY_STORAGE_S3_SECURE
                    value: {{ .Values.storage.s3.secure | quote }}
                -
                    name: REGISTRY_STORAGE_S3_ACCESSKEY
                    valueFrom:
                        secretKeyRef:
                            name: infrabox-s3-credentials
                            key: accessKey
                -
                    name: REGISTRY_STORAGE_S3_SECRETKEY
                    valueFrom:
                        secretKeyRef:
                            name: infrabox-s3-credentials
                            key: secretKey
                {{ end }}
                {{ if .Values.storage.gcs.enabled }}
                -
                    name: REGISTRY_STORAGE
                    value: gcs
                -
                    name: REGISTRY_STORAGE_GCS_BUCKET
                    value: {{ default "infrabox-docker-registry" .Values.storage.gcs.docker_registry_bucket }}
                -
                    name: REGISTRY_STORAGE_GCS_KEYFILE
                    value: /etc/infrabox/gcs/gcs_service_account.json
                {{ end }}
                {{ if .Values.storage.gcs.enabled }}
                volumeMounts:
                -
                    name: gcs-service-account
                    mountPath: /etc/infrabox/gcs
                    readOnly: true
                {{ end }}

            volumes:
                {{ include "volumes_database" . | indent 16 }}
                {{ if .Values.docker_registry.tls.enabled }}
                -
                    name: registry-tls
                    secret:
                        secretName: infrabox-docker-registry-tls
                {{ end }}
                {{ if .Values.storage.gcs.enabled }}
                -
                    name: gcs-service-account
                    secret:
                        secretName: infrabox-gcs
                {{ end }}
{{ end }}
