<div *ngIf="!downloads" class="no-margins no-paddings">
    <div class="row p-md m-md">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-xxs-12">
            <i class="fa fa-spinner fa-5x"></i>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 col-xxs-12text-right">
            <h2 class="font-bold"> Currently no downloads to show. </h2>
            <span> You job did not produce any downloadable files </span>
        </div>
    </div>
</div>

<div *ngIf="downloads && downloads.Output">
    <div *ngFor="let o of downloads.Output">
        <a (click)="download(o.id, o.name)">{{ o.name }}</a>
    </div>
</div>
