<div class="table-responsive" *ngIf="job">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="table-alignleft">
                    <div class="m-l-sm">Build</div>
                </th>
                <th *ngIf="job.commit" class="table-alignleft">Author</th>
                <th *ngIf="job.commit" class="table-alignleft">Message</th>
                <th class="table-alignleft">Start Time</th>
                <th class="table-alignleft">Duration</th>
                <th class="table-aligncenter">State</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let j of jobs">
                <td *ngIf="job.commit" class="table-alignleft">
                    <div class=" hide-link-color m-l-sm">
                        <a [routerLink]="['/dashboard/project', job.project_id, 'build', j.build.id, 'job', j.id]">{{ j.build.build_number }}.{{ j.build.restart_counter }}</a>
                    </div>
                </td>
                <td *ngIf="!job.commit" class="table-alignleft">
                    <div class=" hide-link-color m-l-sm">
                        <a [routerLink]="['/dashboard/project', job.project_id, 'build', j.build.id, 'job', j.id]">{{ j.build.build_number }}.{{ j.build.restart_counter }}</a>
                    </div>
                </td>
                <td *ngIf="job.commit" class="table-alignleft">
                    <div class="hide-link-color">
                        <a [routerLink]="['/dashboard/project', job.project_id, 'build', j.build.id, 'job', j.id]">{{ j.commit.author_name }}</a>
                    </div>
                </td>
                <td *ngIf="job.commit" class="table-alignleft">
                    <div class="hide-link-color">
                        <a [routerLink]="['/dashboard/project', job.project_id, 'build', j.build.id, 'job', j.id]">{{ j.commit.message }}</a>
                    </div>
                </td>
                <td class="table-alignleft">
                    <start-date [start]="j.start_date"></start-date>
                </td>
                <td class="table-alignleft">
                    <duration [start]="j.start_date" [end]="j.end_date"></duration>
                </td>
                <td class="table-aligncenter">
                    <job-state [state]="j.getState()"></job-state>
                </td>
            </tr>
        </tbody>
    </table>
</div>
