<div class="wrapper wrapper-content">
    <div class="clearfix no-borders no-padding">
        <div class="col-md-12">
            <div class="widget white-bg">
                <div class="row">
                    <div class="col-lg-12">
                        <ol class="breadcrumb breadcrumb-h2">
                            <li class="active">
                                <i class="fa fa-th-large"></i><span><strong> Overview</strong></span>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="widget white-bg">
                <div *ngIf="builds.length <= 0" class="dashboard-box">
                    <h2>Welcome to InfraBox!</h2>
                    <div class="m-t-md">Add your first project to start off:</div>
                    <a data-toggle="modal" type="button" class="btn btn-sm btn-info m-t-md" href="#add_project"><i class="fa fa-plus"></i><span> Add New Project</span></a>
                </div>
                <div *ngIf="builds.length > 0" class="dashboard-box">
                    <h2>Your latest build</h2>
                    <div *ngIf="builds[0]" class="ibox m-t-md no-borders p-w-sm">
                        <div class="row bg-muted p-xs b-r-sm m-b-md">
                            <Strong>
                                <h3 class="hide-link-color">
                                    <job-state [state]=(builds[0].getState())></job-state>
                                    <a [routerLink]="['/dashboard/project', builds[0].project.id, 'build', builds[0].id]"> Build {{ builds[0].number }}.{{ builds[0].restart_counter }}</a>
                                </h3>
                            </Strong>
                        </div>
                        <div class="row p-xxs">
                            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-6 col-xxs-12">
                                <i class="fa fa-code-fork fa-fw fa-1x"></i><strong> Branch:</strong>
                            </div>
                            <div *ngIf="builds[0]" class="col-lg-8 col-md-8 col-sm-7 col-xs-6 col-xxs-12">
                                <a [routerLink]="['/dashboard/project', builds[0].project.id, 'build', builds[0].id]">{{ builds[0].project.name }}/{{ builds[0].commit.branch }}</a>
                            </div>
                        </div>
                        <div class="row p-xxs">
                            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-6 col-xxs-12">
                                <i class="fa fa-user fa-fw fa-1x"></i><strong> Author:</strong>
                            </div>
                            <div *ngIf="builds[0]" class="col-lg-8 col-md-8 col-sm-7 col-xs-6 col-xxs-12">
                                {{ builds[0].commit.author_name }}
                            </div>
                        </div>
                        <div class="row p-xxs">
                            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-6 col-xxs-12">
                                <i class="fa fa-envelope fa-fw fa-1x"></i><strong> Commit Message:</strong>
                            </div>
                            <div *ngIf="builds[0]" class="col-lg-8 col-md-8 col-sm-7 col-xs-6 col-xxs-12">
                                {{ builds[0].commit.message }}
                            </div>
                        </div>
                        <div *ngIf="builds[0].commit" class="row p-xxs">
                            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-6 col-xxs-12">
                                <i class="fa fa-list-ol fa-fw fa-1x"></i><strong> Commit ID:</strong>
                            </div>
                            <div *ngIf="builds[0]" class="col-lg-8 col-md-8 col-sm-7 col-xs-6 col-xxs-12">
                                <a target="_blank" href="{{ builds[0].commit.url }}">
                                    <i class="fa fa-github"></i> {{ builds[0].commit.id.substr(0, 8) }}
                                </a>
                            </div>
                        </div>
                        <div class="row p-xxs">
                            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-6 col-xxs-12">
                                <i class="fa fa-fw fa-calendar"></i><strong> Started:</strong>
                            </div>
                            <div *ngIf="builds[0]" class="col-lg-8 col-md-8 col-sm-7 col-xs-6 col-xxs-12">
                                <start-date [start]="builds[0].start_date"></start-date>
                            </div>
                        </div>
                        <div *ngIf=" builds[0].end_date != null " class="row p-xxs">
                            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-6 col-xxs-12">
                                <i class="fa fa-clock-o fa-fw"></i> <strong> Duration:</strong>
                            </div>
                            <div *ngIf="builds[0]" class="col-lg-8 col-md-8 col-sm-7 col-xs-6 col-xxs-12">
                                <duration [start]="builds[0].start_date" [end]="builds[0].end_date"></duration>
                            </div>
                        </div>
                    </div>

                    <div class="m-l-xs m-r-xs m-t-xs p-xs border-top">
                        <Strong><small>Contained Jobs:</small></Strong>
                    </div>
                    <div *ngIf="builds[0]" class="row m-l-xs m-r-xs p-l-xs p-r-xs">
                        <div *ngFor="let j of builds[0].jobs" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-xxs-12">
                            <small><a [routerLink]="['/dashboard/project', builds[0].project.id, 'job', j.id]"><span> <job-state [state]="j.getState()" [negative]="false"></job-state> {{ j.name }}</span></a></small>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div id="add_project" class="modal fade" aria-hidden="true">
        <div class="modal-dialog" style="width:40%">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row m-l-lg m-r-lg p-l-lg p-r-lg m-b-none p-b-none">
                        <h3 class="border-bottom m-b-sm m-t-md"><i class="fa fa-tasks"></i> Add New Project</h3>
                        <div class="m-t-md p-t-sm">
                            <div class="row">
                                <div class="panel blank-panel">
                                    <div class="panel-heading">
                                        <h5>1. Select project origin:</h5>
                                        <div class="panel-options no-border">
                                            <ul class="nav nav-tabs no-border">
                                                <li role="presentation" class="active"><a href="#tab-gerrit" data-toggle="tab"><i class="fa fa-binoculars"></i> Gerrit</a></li>
                                                <li role="presentation"><a href="#tab-upload" data-toggle="tab"><i class="fa fa-upload"></i> Upload</a></li>
                                                <li role="presentation"><a href="#tab-github" data-toggle="tab"><i class="fa fa-github"></i> Github</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="tab-content" id="tab-content">
                                            <div class="tab-pane active" id="tab-gerrit">
                                                <h5>2. Enter the name of your Gerrit project:</h5>
                                                <input type="text" [(ngModel)]="add_project_name" placeholder="Project Name" class="input-text">
                                            </div>
                                            <div class="tab-pane" id="tab-upload">
                                                <h5>2. Enter the name of your local project:</h5>
                                                <input type="text" [(ngModel)]="add_project_name" placeholder="Project Name" class="input-text">
                                            </div>
                                            <div class="tab-pane" id="tab-github">
                                                <div *ngIf="!hasGithubAccount">
                                                    <h5>2. You don't have a Github account conntected.</h5>
                                                    <button class="btn btn-info btn-outline btn-sm" (click)="connectGithubAccount()"><i class="fa fa-plug"></i> <span class="hidden-xs"> Connect it to continue</span></button>
                                                </div>
                                                <div *ngIf="hasGithubAccount">
                                                    <div class="row">
                                                        <div class="col-lg-12 col-xs-12">
                                                            <h3>2. Select the Github repository you want to connect:</h3>
                                                            <p>Currently there are <span><strong>{{repos.length}}</strong></span> active repositories.</p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div *ngFor="let r of repos" class="col-lg-3">
                                                            <button (click)="connect(r);" class="btn btn-default btn-outline btn-xs btn-dashboard col-lg-12">
                                                                            <div *ngIf="r.connected">
                                                                                <i class="fa icon-blue icon-huge fa fa-chain m-t-sm"></i>
                                                                                <!-- Blue image is shown, if connected.-->
                                                                            </div>
                                                                            <div *ngIf="!r.connected">
                                                                                <i class="fa icon-mute icon-huge fa fa-unlink m-t-sm"></i>
                                                                                <!-- Grey image is shown, if not connected.-->
                                                                            </div>
                                                                            <div class="border-top m-t-sm"><strong>{{ r.full_name }}</strong></div>
                                                                            <div>Owner: {{ r.owner.login }}</div>
                                                                            <div *ngIf="r.private">
                                                                                <i class="fa icon-mute fa-2x fa fa-home"></i>
                                                                            </div>
                                                                            <div *ngIf="!r.private">
                                                                                <i class="fa icon-mute fa-2x fa fa-globe"></i>
                                                                            </div>
                                                                        </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="padding-left: 15px; padding-right: 15px;">
                                        <h5>3. Select the visibility of your project:</h5>
                                        <div class="btn-group btn-group-sm" role="group" aria-label="...">
                                            <button type="button" class="btn btn-info btn-outline"><i class="fa fa-user"></i> Private</button>
                                            <button type="button" class="btn btn-info btn-outline"><i class="fa fa-users"></i> Public</button>
                                        </div>
                                        <h5 style="padding-top: 15px;">4. Add the project to InfraBox:</h5>
                                        <button class="btn btn-info btn-outline btn-sm text-center" (click)="addUploadProject()">
                                                    <i class="fa fa-plus"></i><span> Finish</span>
                                                </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
