<div class="wrapper wrapper-content">
    <div class="clearfix no-borders no-padding">
        <div class="col-lg-12">
            <div class="widget white-bg">
                <div class="row">
                    <div class="col-lg-9">
                        <ol class="breadcrumb breadcrumb-h2">
                            <li class="active">
                                <i class="fa fa-github"></i><span><strong> My GitHub Repositories </strong></span>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div *ngIf="!hasGithubAccount" class="widget white-bg">
                You don't have a Github Account conntected.
                <button class="btn btn-default m-r-md" (click)="connectGithubAccount()"><i class="fa fa-cogs"></i> <span class="hidden-xs">Connect it</span></button>
            </div>
            <div *ngIf="hasGithubAccount" class="widget white-bg">
                <div class="row m-t-md m-b-md">
                    <div class="col-lg-12 col-xs-12">
                        <p>Currently there are <span><strong>{{repos.length}}</strong></span> active repositories.</p>
                    </div>
                </div>
                <div class="row">
                    <div *ngFor="let r of repos" class="col-lg-3">
                        <button (click)="connect(r);" class="btn btn-default btn-outline btn-xs btn-dashboard col-lg-12">
                    <div *ngIf="r.connected">
                        <i class="fa icon-blue icon-huge fa fa-chain m-t-sm"></i>
                        <!-- Blue image is shown, if connected.-->
                    </div>
                    <div *ngIf="!r.connected">
                        <i class="fa icon-mute icon-huge fa fa-unlink m-t-sm"></i>
                        <!-- Grey image is shown, if not connected.-->
                    </div>
                    <div class="border-top m-t-sm"><strong>{{ r.full_name }}</strong></div>
                    <div>Owner: {{ r.owner.login }}</div>
                    <div *ngIf="r.private">
                        <i class="fa icon-mute fa-2x fa fa-home"></i>
                    </div>
                    <div *ngIf="!r.private">
                        <i class="fa icon-mute fa-2x fa fa-globe"></i>
                    </div>
                </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
