<div class="top-navigation">

    <div id="wrapper">
        <div id="page-wrapper" class="gray-bg">

            <div class="row border-bottom white-bg">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0; border-bottom: 1px outset #293846">
                    <div class="navbar-header">
                        <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                            <i class="fa fa-reorder"></i>
                        </button>
                        <a href="https://github.com/InfraBox/infrabox" target="_blank" class="navbar-logo" style="background-color: #293846"><img src="img/dashboard/logo_white_on_transparent.png" style="height:35px;" /></a>
                    </div>
                    <div class="navbar-collapse collapse" id="navbar">
                        <ul class="nav navbar-nav">
                            <li class="active" [routerLinkActive]="['active']">
                                <a aria-expanded="false" role="button" routerLink="/dashboard/start">
                                    <i class="fa fa-th-large"></i>
                                    <span class="nav-label">Overview</span>
                                </a>
                            </li>
                            <li>
                                <a aria-expanded="false" role="button" (click)="infraboxService.openDocs()">
                                    <i class="fa fa-book"></i>
                                    <span class="nav-label">Docs</span>
                                </a>
                            </li>
                            <li *ngIf="loginService.loggedIn" class="dropdown">
                                <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-tasks"></i>
                                    <span class="nav-label"> Projects</span><span class="caret"></span></a>
                                <ul role="menu" class="dropdown-menu">
                                    <li class="m-sm m-b-md">
                                        <a [routerLink]="['/dashboard/account/project/add']" data-toggle="modal" type="button" class="btn  btn-xs btn-block btn-default"><i class="fa fa-plus"></i><span> Add New Project</span></a>
                                    </li>
                                    <project-list></project-list>
                                </ul>
                            </li>
                            <li>
                                <a aria-expanded="false" role="button" href="https://github.com/InfraBox/infrabox/issues" target="_blank">
                                    <i class="fa fa-exclamation-circle"></i>
                                    <span class="nav-label">Issues</span>
                                </a>
                            </li>
                        </ul>
                        <ul *ngIf="!loginService.loggedIn" class="nav navbar-top-links navbar-right">
                            <li>
                                <a href="/"><i class="fa fa-sign-in"></i> Log In</a>
                            </li>
                        </ul>
                        <ul *ngIf="loginService.loggedIn" class="nav navbar-top-links navbar-right">
                            <job-state-list [stateToShow]="'active'"></job-state-list>
                            <li>
                                <a (click)="logout()"><i class="fa fa-sign-out"></i> Log Out</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <router-outlet>
                    </router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>
