apiVersion: extensions/v1beta1
kind: DaemonSet
metadata:
  name: infrabox-fluent-bit
  namespace: {{ template "system_namespace" . }}
  labels:
    app: infrabox-fluent-bit
spec:
  template:
    metadata:
      labels:
        app: infrabox-fluent-bit
    spec:
      serviceAccountName: infrabox
      containers:
      - name: fluent-bit
        image: fluent/fluent-bit:0.14
        resources:
          limits:
            memory: 100Mi
          requests:
            cpu: 100m
            memory: 100Mi
        volumeMounts:
        - name: varlog
          mountPath: /var/log
        - name: varlibdockercontainers
          mountPath: /var/lib/docker/containers
          readOnly: true
        - name: config
          mountPath: /fluent-bit/etc/fluent-bit.conf
          subPath: fluent-bit.conf
      terminationGracePeriodSeconds: 10
      volumes:
      - name: varlog
        hostPath:
          path: /var/log
      - name: varlibdockercontainers
        hostPath:
          path: /var/lib/docker/containers
      - name: config
        configMap:
          name: infrabox-fluent-bit
