<div class="ibox">
    <div class="ibox-title bg-muted">
        <i class="fa fa-laptop"></i><span><strong> Create Secrets</strong></span>
    </div>
    <div class="ibox-content">
        <div class="row m-md">
            <div class="col-lg-8 col-md-9 col-sm-10 col-xs-12">
                <div class="row border-bottom">
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 font-bold p-b-xs m-b-xs">
                        <div>Variable Name</div>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 font-bold p-b-xs m-b-xs">
                        <div>Variable Value</div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 font-bold p-b-xs m-b-xs text-center">
                        Edit
                    </div>
                </div>
                <div *ngFor="let v of vars" class="row m-t-sm">
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                        <input type="text" class="input-text" value="{{ v.name }}" disabled/>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                        <input type="text" class="input-text" value="**********" disabled/>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">
                        <a data-toggle="modal" (click)="delete(v);"><i class="fa fa-trash icon-blue-negative btn-circle-small"></i></a>
                    </div>
                </div>
                <div class="row m-t-sm">
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                        <input [(ngModel)]="new_name" name="new_name" type="text" class="input-text" placeholder="Insert Name" />
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                        <input [(ngModel)]="new_value" name="new_value" type="text" class="input-text" placeholder="Insert Value" />
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">
                        <button class="btn btn-info btn-sm btn-block" (click)="add()">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-3 col-sm-2">
            </div>
        </div>
    </div>
</div>
