<div class="ibox">
    <div class="ibox-title bg-muted">
        <i class="fa fa-laptop"></i><span><strong> Create Authentication Tokens</strong></span>
    </div>
    <div class="ibox-content">
        <div class="col-lg-12">
            <div class="widget white-bg text-center">
                <div class="row p-w-md">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th style="vertical-align: bottom">#</th>
                                    <th style="vertical-align: bottom">Description</th>
                                    <th style="vertical-align: bottom">Token</th>
                                    <th>
                                        <div class="row text-center" style="font-weight: 100">
                                            <div class="col-lg-12">
                                                Scope
                                            </div>
                                        </div>
                                        <div class="row text-center border-left-right">
                                            <div class="col-lg-6">
                                                Push
                                            </div>
                                            <div class="col-lg-6">
                                                Pull
                                            </div>
                                        </div>
                                    </th>
                                    <th class="text-center" style="vertical-align: bottom">Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let t of tokens; let i = index;">
                                    <td class="align-middle">{{ i + 1 }}</td>
                                    <td class="align-middle">{{ t.description }}</td>
                                    <td class="align-middle">{{ t.token }}</td>
                                    <td class="align-middle">
                                        <div class="row text-center border-left-right">
                                            <div class="col-lg-6">
                                                <i *ngIf="t.scope_push" class="fa fa-check"></i>
                                                <i *ngIf="!t.scope_push" class="fa fa-close"></i>
                                            </div>
                                            <div class="col-lg-6">
                                                <i *ngIf="t.scope_pull" class="fa fa-check"></i>
                                                <i *ngIf="!t.scope_pull" class="fa fa-close"></i>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-center align-middle">
                                        <a (click)="delete(t);"><i class="fa fa-trash icon-blue-negative btn-circle-small"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <a data-toggle="modal" href="#create_token_dialog" class="btn btn-info btn-sm pull-right">
                        <i class="fa fa-plus"></i><span> Add new token</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="create_token_dialog" class="modal fade" aria-hidden="true">
    <div class="modal-dialog" style="width:50%">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="border-bottom m-b-sm">
                    Create Personal Access Token
                </h3>
                <div class="font-bold p-t-lg m-t-lg">
                    Token Description
                </div>
                <input [(ngModel)]="add_token.description" class="input-text" placeholder="e.g. Token for Jira Integration" type="text" />
                <div class="p-t-md m-t-md font-bold">
                    Select Scope
                </div>
                <div class="row p-t-xs m-t-xs">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <input [(ngModel)]="add_token.scope_push" type="checkbox">
                        <label class="inherit-style" for="check_push">
                            Push
                        </label>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <input [(ngModel)]="add_token.scope_pull" type="checkbox">
                        <label class="inherit-style" for="check_pull">
                            Pull
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-8">
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                        <button class="btn btn-info btn-sm pull-left" (click)="add();"><i class="fa fa-refresh"></i> Add</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
